In [2]:
import mysql.connector

In [3]:
mydb = mysql.connector.Connect(host = "localhost",
                            database = "online_shopping",
                            user = "root",
                            password = "Madhava2207")

In [4]:
cursor = mydb.cursor(buffered = True)

In [4]:
reg = "insert into vendor values (%s, %s, %s, %s, %s, %s, %s)"

cursor.execute(reg, ['test', 'test', 3434, 'test', 334, 'test@testmail', 'test'])

DataError: 1136 (21S01): Column count doesn't match value count at row 1

In [6]:
#select customer_ID from email address
select_customer_query = "select * from Customer where email_address = %s and password = %s"
test_val_customer = []
test_val_customer.append("testing@testing")
test_val_customer.append("testing")

cursor.execute(select_customer_query, test_val_customer)

test_iterator = list(iter(cursor.fetchall()))

print(len(test_iterator))

for row in list(test_iterator):
    print(row)

type(test_iterator)

0

list

In [7]:
#Add product to cart
#Check if that product is already present
check_if_product_exists_in_cart = "select * from Shopping_Cart where exists(select * from Shopping_Cart where customer_ID = %s and Product_ID = %s)"
cursor.execute(check_if_product_exists_in_cart,[1,1])
product_present = False
if len(list(iter(cursor.fetchall()))) != 0:
        product_present = True
# print(product_present)
if(product_present == False):
    insert_product = "Insert into Shopping_Cart values(%s,%s,%s)"
    cursor.execute(insert_product,[1,1,5])
    # cursor_ret(cursor)
if(product_present == True):
    increase_product_quantity = "Update Shopping_Cart set quantity = quantity + %s where customer_ID = %s and Product_ID = %s"
    cursor.execute(increase_product_quantity,[3,1,1])
mydb.commit()
    # cursor_ret(cursor)
# for 
#add_product_to_cart = "insert into "count()len()list_cursorlist()cursorlist()cursorprint()test+i_iteratorlist()testi_iterator

In [8]:
#insert_values_into_order = "insert into Orders select %s,sum(price),avg(GST_percentage),avg(Discount_Percentage) from Product natural join Shopping_cart where Customer_id = %s"
# cursor.execute(insert_values_into_order,[100,1])
# db.commit()

In [6]:
    chk_ven = "select vendor_ID from vendor where email_address = %s limit 1"
    try:
        cursor.execute(chk_ven, ['test@test'])
        lst = list(iter(cursor.fetchall()))
        print(lst[0][0])


    except Error as e:
        print("Error when returning vendor ID")
        print(e);

102

In [9]:
#sign up
#requires first_name, last_name, house_number, locality, city, pincode, email_address, password

register_statement = "INSERT INTO Customer(First_name, Last_name, House_number, Locality, City, Pincode, email_address, password) values (%s, %s, %s, %s, %s, %s, %s, %s)"

temp_first_name = "temp1"
temp_last_name = "temp2"
temp_house_no = 53
temp_locality = "tempest"
temp_city = "Temp_est"
temp_pincode = 103042
temp_email_add = "temp@tetmpest.ror8g"
temp_passwd = "temper"

tup = [temp_first_name, temp_last_name, temp_house_no, temp_locality, temp_city, temp_pincode, temp_email_add, temp_passwd]

print(tup)

try:
    cursor.execute(register_statement, tup)
    mydb.commit()
except mysql.connector.Error as e:
    print(e)

['temp1', 'temp2', 53, 'tempest', 'Temp_est', 103042, 'temp@tetmpest.ror8g', 'temper']

In [10]:
#check valid email address 
check_valid_email = "select customer_ID from customer where customer_id = %s"
temp_email_add = "temp@tetmpest.ror8g"

try:
    cursor.execute(check_valid_email, [temp_email_add])
    if(len(list(iter(cursor.fetchall()))) != 0):
        print("WE DIDN'T FIND IT")
    else:
        print("WE FOUND IT!")
except:
    pass

WE FOUND IT!

In [11]:
## cursor.execute(insert_values_into_order,[100,1])
# db.commit()
# Important to include this but insiayliaze only once somewhere order_id = 116
product_id = 1
customer_id = 1
quantity = 5
# print(order_id)
insert_values_into_order = "insert into Orders select %s,sum(price),avg(GST_percentage),avg(Discount_Percentage) from Product natural join Shopping_cart where Customer_id = %s"
cursor.execute(insert_values_into_order,[order_id,customer_id])



extract_product_ids = "select product_id from Shopping_Cart where Customer_id = %s"
cursor.execute(extract_product_ids,[customer_id])
products_iterator = iter(cursor.fetchall())
product_id_list = list(products_iterator)

extract_quantity = "select quantity from Shopping_Cart where Customer_id = %s"
cursor.execute(extract_quantity,[customer_id])
quantity_iterator = iter(cursor.fetchall())
quantity_id_list = list(quantity_iterator)

for i in range(len(quantity_id_list)):
    product = product_id_list[i][0]
    quantity = quantity_id_list[i][0]
    check_if_product_aready_ordered = "select * from order_products where exists(select * from order_products where order_id = %s and Product_ID = %s)"
    cursor.execute(check_if_product_aready_ordered,[order_id,product])
    product_ordered = False
    if len(list(iter(cursor.fetchall()))) != 0:
            product_ordered = True
    # print(product_present)
    if(product_ordered == False):
        insert_product = "Insert into order_products values(%s,%s,%s)"
        cursor.execute(insert_product,[order_id,product,quantity])
        # cursor_ret(cursor)
    if(product_ordered == True):
        increase_product_quantity = "Update order_products set quantity = quantity + %s where order_id = %s and Product_ID = %s"
        cursor.execute(increase_product_quantity,[order_id,product,quantity])
order_id +=1
mydb.commit()

NameError: name 'order_id' is not defined

In [ ]:
# #After checkout has been done
# Order_ID numeric(30,0) primary key, 
#     Payment_Method varchar(30), 
#     Transaction_Status boolean, 
#     transaction_time Timestamp, 
#     Customer_ID numeric(30,0), 
#     Coupon_Code varchar(30),
# order_id = 116
# #Payment_method = "Paytm"
# Transaction_status = "Delivered"
# transaction_time = "2021:8:13 21:30:53"
# Customer_ID = 1
# Coupon_Code = "AAA"
# insert_into_transaction values(%s,%s,%s,%s,%s,%s)
# cursor.execute(order_id,Payment_method,Transaction_status,transaction_time,Customer_ID,Coupon_Code)

SyntaxError: invalid syntax (<ipython-input-14-a5d3bcda0389>, line 2)

In [ ]:
statement = "select Order_ID, Product_Name, Quantity, Delivery_address, Transaction_Time, Delivery_Date, Total_Price from customer_order where customer_id = %s"

cursor.clear_attributes()
cursor.execute(statement, [5])
results = list(iter(cursor.fetchall()))

print(results[0])
statement = "select Order_ID, Product_Name, Quantity, Delivery_address, Transaction_Time, Delivery_Date, Total_Price from customer_order where customer_id = %s"

cursor.clear_attributes()
cursor.execute(statement, [5])
results = list(iter(cursor.fetchall()))

print(results[0])

type(results[0])

(50, 'Rice - Brown', Decimal('10'), '5 Barnett Ponikiew 288549', datetime.datetime(2021, 4, 8, 5, 57, 30), datetime.datetime(2021, 4, 27, 0, 52, 32), Decimal('74700.23'))
74700.23

tuple

In [ ]:
null_val = "select * from warehouse where warehouse_id = 6"

cursor.execute(null_val)

my_list = list(iter(cursor.fetchall()))

print(my_list)

my_list[2]

[(6, Decimal('5034'), None, Decimal('3040'))]

In [ ]:
from datetime import datetime

In [ ]:
datetime.now()

datetime.datetime(2022, 4, 14, 17, 44, 42, 216109)

In [ ]:
cursor.execute("SELECT TRANSACTION_TIME FROM TRANSACTION")

for i in cursor.fetchall():
    print(i)

(datetime.datetime(2021, 7, 18, 22, 49, 53),)
(datetime.datetime(2021, 8, 13, 21, 30, 53),)
(datetime.datetime(2021, 9, 30, 23, 56, 52),)
(datetime.datetime(2021, 9, 9, 4, 23, 11),)
(datetime.datetime(2021, 10, 6, 14, 9, 50),)
(datetime.datetime(2021, 4, 17, 7, 34, 30),)
(datetime.datetime(2021, 3, 28, 1, 52, 38),)
(datetime.datetime(2021, 1, 19, 23, 25, 37),)
(datetime.datetime(2021, 3, 8, 5, 46, 42),)
(datetime.datetime(2021, 1, 18, 2, 42, 42),)
(datetime.datetime(2021, 8, 25, 7, 17, 5),)
(datetime.datetime(2021, 9, 12, 6, 51, 13),)
(datetime.datetime(2021, 2, 9, 17, 45, 3),)
(datetime.datetime(2021, 5, 4, 23, 14, 35),)
(datetime.datetime(2021, 3, 12, 3, 14, 14),)
(datetime.datetime(2021, 7, 19, 13, 50, 36),)
(datetime.datetime(2021, 12, 7, 18, 47, 40),)
(datetime.datetime(2021, 12, 19, 12, 31, 29),)
(datetime.datetime(2021, 12, 5, 3, 19, 53),)
(datetime.datetime(2021, 4, 23, 0, 27, 13),)
(datetime.datetime(2021, 12, 10, 16, 32, 24),)
(datetime.datetime(2021, 10, 7, 22, 49, 36),)
(datetime.datetime(2021, 10, 26, 14, 53, 18),)
(datetime.datetime(2021, 6, 15, 4, 15, 18),)
(datetime.datetime(2021, 11, 28, 23, 7, 52),)
(datetime.datetime(2021, 8, 3, 14, 38, 8),)
(datetime.datetime(2021, 7, 10, 8, 41, 59),)
(datetime.datetime(2021, 6, 17, 12, 4, 49),)
(datetime.datetime(2021, 9, 14, 7, 14, 32),)
(datetime.datetime(2021, 5, 6, 23, 9, 31),)
(datetime.datetime(2021, 7, 24, 7, 31, 55),)
(datetime.datetime(2021, 5, 7, 15, 33, 26),)
(datetime.datetime(2021, 4, 13, 1, 35, 38),)
(datetime.datetime(2021, 4, 25, 12, 50, 2),)
(datetime.datetime(2021, 8, 1, 4, 36, 23),)
(datetime.datetime(2021, 8, 17, 20, 5, 20),)
(datetime.datetime(2021, 1, 23, 9, 0),)
(datetime.datetime(2021, 9, 13, 22, 39, 53),)
(datetime.datetime(2021, 1, 18, 3, 10, 36),)
(datetime.datetime(2021, 1, 9, 1, 27, 1),)
(datetime.datetime(2021, 1, 10, 17, 37, 50),)
(datetime.datetime(2021, 2, 24, 13, 39, 31),)
(datetime.datetime(2021, 1, 24, 5, 40, 28),)
(datetime.datetime(2021, 11, 2, 7, 27, 11),)
(datetime.datetime(2021, 1, 9, 10, 18, 21),)
(datetime.datetime(2021, 9, 7, 10, 33, 25),)
(datetime.datetime(2021, 5, 12, 16, 54, 14),)
(datetime.datetime(2021, 10, 14, 5, 55, 32),)
(datetime.datetime(2021, 3, 11, 18, 26, 47),)
(datetime.datetime(2021, 4, 8, 5, 57, 30),)
(datetime.datetime(2021, 4, 8, 5, 57, 30),)

In [25]:
            choose_warehouse = "select Warehouse_ID,Stocks from Stores where Product_ID = %s"
            cursor.execute(choose_warehouse,[pid])
            warehouse_avaialable_stock = iter(cursor.fetchall())
            warehouse_stock_list = list(warehouse_avaialable_stock)
            max_stock_warehouse_id = -1
            final_quantity_to_be_given = -1
            # print(warehouse_stock_list)
            #print(type(quantity))
            if(range(len(warehouse_stock_list)) == 0):
                flash('Product is out of stock', category='alert')
            else:
                for i in range(len(warehouse_stock_list)):
                    if(warehouse_stock_list[i][1] > quantity):
                        final_quantity_to_be_given = quantity
                        break
                    else:
                        if(final_quantity_to_be_given < warehouse_stock_list[i][1]):
                            final_quantity_to_be_given = warehouse_stock_list[i][1]
                            max_stock_warehouse_id = warehouse_stock_list[i][0]

NameError: name 'pid' is not defined

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (<ipython-input-1-1e6580647800>, line 8)

In [6]:
product_id = 1
stocks = 5
select_warehouse_with_minimum_stock = "select Warehouse_ID from Stores where product_id = %s order by stocks limit 1;"
cursor.execute(select_warehouse_with_minimum_stock,[product_id])
select_warehouse_iterator = iter(cursor.fetchall())
warehouse_with_minimum_stock = list(select_warehouse_iterator)[0][0]
check_if_product_aready_there = "select 1 from Product where exists(select 1 from Product where Product_ID = %s)"
cursor.execute(check_if_product_aready_there,[product_id])
product_there = False
if len(list(iter(cursor.fetchall()))) != 0:
        product_there = True
if(product_there == False):
    insert_product_into_product = "Insert into Product values(%s,%s,%s,%s)"
    cursor.execute(insert_product_into_product,[Price,Product_name,Discount_Percentage,GST_percentage])
    insert_product = "Insert into Stores values(%s,%s,%s)"
    cursor.execute(insert_product,[warehouse_with_minimum_stock,product_id,stocks])
    
    # cursor_ret(cursor)
if(product_there == True):
    increase_product_quantity = "Update Stores set Stocks = Stocks + %s where Product_ID = %s and Warehouse_id = %s"
    cursor.execute(increase_product_quantity,[stocks,product_id,warehouse_with_minimum_stock])
mydb.commit()